<footer>
    <div>
        <h3>Tower Ascend</h3>
        <p>Proyecto desarrollado como Proyecto Intermodular para el Ciclo Formativo de Grado Superior: Desarrollo de Aplicaciones Multiplataforma.</p>
    </div>
    <div>
        <p>© 2026 Larian-DAM. Hecho con Godot Engine.</p>
        <div>
            <a href="/es/politica_de_privacidad/index.html">Política de Privacidad</a>
            <a href="/es/terminos_y_condiciones/index.html">Términos y Condiciones</a>
        </div>
    </div>
</footer>