:root {
    --White: #FFF;
    --LightGray: #C0CBDC;
    --Gray: #8B9BB4;
    --DarkGray: #5A6988;
    --Blue: #3A4466;
    --DarkBlue: #262B44;
    --DarkPurple: #181425;
    --LightBrown: #C28569;
    --Brown: #B86F50;
    --DarkBrown: #733E39;
    --Yellow: #FEE761;
    --Golden: #FEAE34;
}