footer {
    width: 100%;
    background-color: var(--DarkBlue);
    color: var(--LightGray);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer > div > div > a {
    color: var(--LightGray);
}

footer > div {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
}

footer > div > h3 {
    font-size: 25px;
}