footer {
    background-color: var(--DarkBlue);
    color: var(--LightGray);
    font-size: 3px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}

footer > div > div > a {
    color: var(--LightGray);
}

footer > div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
}

footer > div > h3 {
    font-size: 25px;
}